.box{
	color: 	#8B0000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 210%;
	float: left;
}

.box1{
	color: 	#8B0000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 170%;
	float: right;
}
.box2{
	color: 	#8B0000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 200%;
}

.box3{
	float: left;
}

.box4{
	color: #f44336;
	font-family: Arial, Helvetica, sans-serif;
  	line-height: 0.3;
}

.box5{
	color: 	#8B0000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
}

.box6{
	  background-color: #E8E8E8; 
	  color: #f44336; 
	  border: 2px solid #FFA07A;
	  float: right;
	  padding: 9px 28px;
}

.box7{
	color: #f44336;
	font-family: Arial, Helvetica, sans-serif;
  	line-height: 1.0;
}

.button1{
  background-color: #E8E8E8; 
  color: #f44336; 
  border: 2px solid #FFA07A;
  float: left;
  padding: 9px 28px;
}

.demo {
	border:1px solid #FFA07A;
	border-collapse:collapse;
	padding:4px;
}

.demo th {
	border:1px solid #FFA07A;
	padding:4px;
	background:#F0F0F0;
}

.demo td {
	border:1px solid #FFA07A;
	padding:4px;
}